*{
    margin: 0;
    padding: 0;
}
.container{
    background-color: #000;
    width: 100%;
    height: 100vh;
}
.banner{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    overflow: hidden;
}
.banner::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 250%;
    height: 100%;
    background:linear-gradient(to right, transparent, #000,#000);
    animation: bannerAnim 3s linear forwards;
}
@keyframes bannerAnim {
    0%{right: 0}
    100%{right: -250%}
}
.banner h1{
    color: #91130f;
    font-family: 'Ubuntu',sans-serif;
    font-size: 120px;
    margin-bottom: 100px;
    border-top: 5px solid #91130f;
    border-bottom: 5px solid #91130f;
}
.banner button{
    width: 230px;
    padding: 10px;
    background:linear-gradient(to right,#440402,#c0120c);
    font-family: 'Dosis',sans-serif;
    font-size: 25px;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 100px;
    transform: perspective(500px) rotateY(-15deg);
    cursor: pointer;
    text-shadow: 6px 3px 2px rgba(0, 0, 0, 0.5);
    animation: buttonAnim 2.5s 1.45s backwards;
    transition: all .5s;
    overflow: hidden;
}

.banner button:hover{
    text-shadow: -6px 3px 2px rgba(0, 0, 0, 0.5);
    background:linear-gradient(to left,#440402,#c0120c);
    transform: perspective(500px) rotateY(15deg);
}
@keyframes buttonAnim {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

.banner button::before{
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background:linear-gradient(to right,transparent,#fff,transparent) ;
    transform: skewX(-30deg);
    transition: left .5s;
}
.banner button:hover::before{
    left: 100%;
}
.slideshow-wrapper{
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.5s;
}
.slideshow{
    display: flex;
    height: 100%;
    width: 500%;
    position: relative;
}
@keyframes slideshow {
    0%{right: 0}
    10%{right: 0%}
    15%{right: 100%}
    25%{right: 100%}
    30%{right: 200%}
    40%{right: 200%}
    45%{right: 300%}
    55%{right: 300%}
    60%{right: 400%}
    65%{right: 400%}
    70%{right: 300%}
    75%{right: 300%}
    80%{right: 200%}
    85%{right: 200%}
    90%{right: 100%}
    95%{right: 100%}
    100%{right: 0}
    
}
.slide{
    width: 100%;
    height: 100vh;
}
.slide:nth-child(1){
    background:linear-gradient(100deg,rgba(38,38,38,.75),rgba(38,38,38,.85),transparent), url(image/nepal.jpg) no-repeat center center/cover;
}
.slide:nth-child(2){
    background: linear-gradient(100deg,rgba(38,38,38,.75),rgba(38,38,38,.85),transparent),url(image/newyork.jpg) no-repeat center center/cover;
}
.slide:nth-child(3){
    background: linear-gradient(100deg,rgba(38,38,38,.8),rgba(38,38,38,.75),transparent),url(image/tokyo.jpg) no-repeat center center/cover;
}
.slide:nth-child(4){
    background: linear-gradient(100deg,rgba(38,38,38,.85),rgba(38,38,38,.75),transparent),url(image/rome.jpg) no-repeat center center/cover;
}
.slide:nth-child(5){
    background: linear-gradient(100deg,rgba(38,38,38,.85),rgba(38,38,38,.75),transparent),url(image/london.jpg) no-repeat center center/cover;
}

.content{
    position: relative;
    top: 35%;
    left: 5%; 
    width: 500px; 
}
.content h3{
    color: #fff;
    font-family: 'Oswald',sans-serif;
    font-size: 80px;
    font-weight: 400;
}
.content p{
    color: rgb(202, 202, 202);
    font-family: 'Dosis',sans-serif;
    font-size: 20px;
}
.content button{
    width: 130px;
    padding: 10px 10px 0 0;
    margin-top: 30px;
    background-color: transparent;
    border: none;
    outline: none;
    font-family: 'Oswald',serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
    cursor: pointer;
    border-bottom: 1px solid #fff;
}
.content i{
    margin-left: 3.5px;
}

@media (max-width:1000px) {
    .banner h1{
        font-size: 80px;
    }
}

@media (max-width:650px) {
    .banner h1{
        font-size: 40px;
    }
    .banner button{
        font-size: 20px;
        padding: 7px;
        width: 180px;
    }
    .content{
        width: 300px;
    }
    .content h3{
        font-size: 30px;
    }
    .content p{
        font-size: 15px;
    }
}